<!-- Navigation -->

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand page-scroll" href="/"> <i class="fa fa-paper-plane-o"></i> StakeWay </a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"> <a href="#page-top"></a> </li>
        <li> <a class="page-scroll" href="/products">Mall</a> </li>
        <li> <a class="page-scroll" href="/services">Services</a> </li>
        <li> <a class="page-scroll" href="#contact">Contact Us</a> </li>
        <% if spree_user_signed_in? %>
          <%if current_spree_user.profile.present?%>
          <li><%= link_to "My Account", profile_path(current_spree_user.profile), class: "page-scroll"%></li>
          <%end%>
          <li><%= link_to "Log out", logout_path, class: "page-scroll"%></li>
        <% else %>
        <li> <a class="page-scroll" href="/login">Login</a> </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container -->
  <div><div class="alert-box">
      <center style="color: red;">MAINTENANCE NOTIFICATION - This site is under maintenance <span style="color: white;">(Referral-Code <%= uuid_without_child.try(:uuid)%>)</span></center>
</nav>
<div style="height: 70px;"></div>