<footer class="page-footer">
    <div class="footer footer-wrapper">
        <div class="footer-container footer-style-1">
            <div class="footer-wrapper">
                <div class="newsletter-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12 inner-newletter">
                                <div class="block-subscribe-footer">
                                    <div class="title_block">
                                        <h3>Signup for Newsletter</h3>
                                        <p>We'll never share your email address with a third-party.</p>
                                    </div>
                                    <form class="form subscribe" novalidate="novalidate" action="#" method="post" id="newsletter-validate-detail-footer">
                                        <div class="input-box">
                                            <input name="email" type="email" id="newsletter-footer" onfocus="if(this.value=='Your email address') this.value='';" onblur="if(this.value=='') this.value='Your email address';" value="Your email address" data-validate="{required:true, 'validate-email':true}">
                                        </div>
                                        <div class="action-button">
                                            <button class="action subscribe primary" title="Subscribe" type="save	"><span>Subscribe</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 inner-social">
                                <div class="socials-wrap">
                                    <div class="title-follow">Share:</div>
                                    <ul>
                                        <li class="li-social facebook-social"><a title="Facebook" href="#" target="_blank"><span class="fa fa-facebook icon-social"></span><span class="name-social">Facebook</span></a></li>
                                        <li class="li-social twitter-social"><a title="Twitter" href="#" target="_blank"><span class="fa fa-twitter icon-social"></span> <span class="name-social">Twitter</span></a></li>
                                        <li class="li-social google-social"><a title="Google+" href="#" target="_blank"><span class="fa fa-google-plus icon-social"></span> <span class="name-social">Google+</span></a></li>
                                        <li class="li-social pinterest-social"><a title="Pinterest" href="#" target="_blank"><span class="fa fa-pinterest icon-social"></span> <span class="name-social">Pinterest</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 contact-footer">
                                <div class="footer-block">
                                    <a href="http://magento2.flytheme.net/themes/sm_emarket/german/index.php/" class="logo"><%=image_tag "logo.png"%></a>
                                    <ul class="links-contact">
                                        <li class="address"> </li>
                                        <li class="phone">(+091)-997-190-7800</li>
                                        <li class="mail"><a href="#">support@stakeway.com</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 categories-footer">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12 customer-ft">
                                        <div class="footer-block">
                                            <div class="footer-block-title">
                                                <h3>Customer Care</h3>
                                            </div>
                                            <div class="footer-block-content">
                                                <ul class="links">
                                                   <!--  <li> <a href="">My Account</a> </li>
                                                    <li> <a href="#">Track your Order</a></li>
                                                    <li> <a href="">Wishlist</a></li>
                                                    <li> <a href="#">Customer Service</a></li>
                                                    <li> <a href="#">Returns / Exchange</a> </li>
                                                    <li><a href="#">Login</a></li>
                                                    <li><a href="#">Support</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 categories-footer">
                                        <div class="footer-block">
                                            <div class="footer-block-title">
                                                <h3>Categories</h3>
                                            </div>

                                            <div class="footer-block-content categories">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 instagramgallery-footer">
                                <div class="sm-instagram footer-block">
                                    <div class="footer-block-title">
                                        <h3>Instargram Gallery</h3></div>
                                    <div id="sm_instagram_gallery_1526041559397790803" class="sm-instagram-gallery">
                                        <div class="instagram-wrap">
                                            <!-- End Tabs-->
                                            <div class="instagram-items-container">
                                                <!--Begin Items-->
                                                <div class="instagram-items">
                                                    <div class="no-images">No Images or Users ID and Access Token incorrect</div>
                                                </div>
                                                <script type="text/javascript">
                                                    require(['jquery', 'owlcarousel', 'jqueryfancyboxpack'], function($) {

                                                        $(".gallery_image").fancybox({
                                                            prevEffect: 'none',
                                                            nextEffect: 'none',
                                                            helpers: {
                                                                thumbs: {
                                                                    width: 50,
                                                                    height: 50
                                                                },
                                                                title: false
                                                            }

                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <!--End Items-->
                                        </div>
                                    </div>
                                    <!-- End Sm-twitter-products -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-categories">
                        <div class="footer-toplinks">
                            <div class="links">
                            
                            </div>
                        </div>
                        <img src="http://magento2.flytheme.net/themes/sm_emarket/pub/media/wysiwyg/payment/payment.png" alt="Payment"></div>
                </div>
                <div class="footer-bottom">
                    <div class="container"> <address>@ Copyright 2018 Stakeway.com. All rights reserved. </address></div>
                </div>
            </div>
        </div>
        <!--GO TO TOP-->
        
     
    </div>
</footer>