<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading form-heading">
      <h3 class="panel-title"><%= Spree.t(:premium_registration) %></h3>
    </div>
    <div class="panel-body">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @charge } %>
      
      <%= render :partial => 'form'%>
    </div>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment Info </h4>
      </div>
      <div class="modal-body">
        <h4>Just Do the Payment Only Rs. 150/- by Paytm/Bank transaction</h4>
        <h5>Check out our transaction medium</h5>
        <div class="payment-method">
          <%=image_tag 'paytm.png', style:"    width: 100%;"%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
