<nav data-depth="2" class="breadcrumb hidden-sm-down dor-breadcrumb">
  <div class="container" id="title-page-show"><h1>Who We Are?</h1></div>
</nav>


<div class="blockDorado2 blockPosition dor-bg-white">
                      <section class="gst-row wht-clr gst-cta row-cta ovh">
<div class="container theme-container">
<div class="row">
<div class="col-md-7 col-sm-12 col-xs-12">
<h2>Get Your <span class="thm-clr extbold-font-4">Dream Success</span>? Why wait</h2>
<p class="gry-clr fsz-16">Join Our Affiliated Channel Just Pay 150/-</p>
</div>
<div class="col-md-5 col-sm-12 col-xs-12 text-right gst-cta-buttons"> <a class="fancy-btn fancy-btn-small" href="/profiles/new">Join Now</a></div>
</div>
</div>
</section>
         
        </div>


<section id="wrapper">
        <div class="container">
          <div class="row">
          

          
  <div id="content-wrapper">
    

  <section id="main">

    
      
        
      
    

    
  <section id="content" class="page-content page-cms page-cms-7">

    
      <div id="dor-aboutus-main">
<div class="container">
<div class="dor-about-info-company clearfix">
<h2><strong>Who</strong> we are?</h2>
<div class="about-info-inner">
<div class="dor-about-compay-content col-lg-6 col-sm-6 col-xs-12">
<p>StakeWay Store -  A unique business venture promoted by a group of dedicated and successful professionals engaged in Traditional Business, Legal Advisory, Corporate Consultancy, IT Consultancy, Network marketing administration, Business and Personality Development Trainers. Company’s main focus is to offer every Indian citizen who have aspiration and willingness to invest genuine efforts to achieve what they aspire and deserve, through a genuine and fantastic opportunity in a multilevel marketing business.</p>
</div>
<div class="dor-about-compay-media col-lg-6 col-sm-6 col-xs-12"><img src="http://bionic.doradothemes.com/img/cms/dorado/aboutus/aboutus-1.jpg" alt="aboutus-1.jpg" height="350" width="585"></div>
</div>
</div>
</div>
<div class="aboutus-rule-company">
<div class="container">
<div class="row">
<div class="rule-company-field col-lg-6 col-sm-6 col-xs-12">
<h2>Outstanding <strong>Strength</strong></h2>
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading" id="headingOne">
<h4 class="panel-title"><a href="#collapseOne"><i class="material-icons add hidden"></i><i class="material-icons remove"></i>Hight-Quality Products</a></h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingTwo">
<h4 class="panel-title"><a class="collapsed" href="#collapseTwo"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Customer Service Dedicated Caring</a></h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingThree">
<h4 class="panel-title"><a class="collapsed" href="#collapseThree"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Refund Within 30 Days</a></h4>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingFore">
<h4 class="panel-title"><a class="collapsed" href="#collapseFore"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Great Deals For Vip Members</a></h4>
</div>
<div id="collapseFore" class="panel-collapse collapse">
<div class="panel-body">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingFive">
<h4 class="panel-title"><a class="collapsed" href="#collapseFive"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Discount 10% For Active Members</a></h4>
</div>
<div id="collapseFive" class="panel-collapse collapse">
<div class="panel-body">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingSick">
<h4 class="panel-title"><a class="collapsed" href="#collapseSick"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Free Delivery In United State</a></h4>
</div>
<div id="collapseSick" class="panel-collapse collapse">
<div class="panel-body">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" id="headingSeven">
<h4 class="panel-title"><a class="collapseSeven" href="#collapse"> <i class="material-icons add"></i><i class="material-icons remove hidden"></i>Try Your Product For Free Within 30 Days</a></h4>
</div>
<div id="collapseSeven" class="panel-collapse collapse">
<div class="panel-body">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
</div>
</div>
</div>
</div>
<div class="rule-company-field col-lg-6 col-sm-6 col-xs-12">
<h2>Client <strong>Say!</strong></h2>
<div class="aboutus-sayclient">
<ul class="owl-carousel owl-theme owl-loaded">

<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-570px, 0px, 0px); transition: 0.25s; width: 1140px;"><div class="owl-item" style="width: 570px; margin-right: 0px;"><li>
<p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
<div class="author-client-info">
<h3>LUMA MODRIC</h3>
<span>CEO of HopeShop</span></div>
</li></div><div class="owl-item active" style="width: 570px; margin-right: 0px;"><li>
<p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
<div class="author-client-info">
<h3>PETER MORA</h3>
<span>CEO of Organie</span></div>
</li></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div></ul></div>
</div>
</div>
</div>
</div>
<div class="container aboutus-our-moreinfo">
<div class="row">
<div class="our-moreinfo-field col-lg-6 col-sm-6 col-xs-12">
<div class="our-moreinfo-inner">
<h2>Our <strong>Mission</strong></h2>
<p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
</div>
</div>
<div class="our-moreinfo-field col-lg-6 col-sm-6 col-xs-12">
<div class="our-moreinfo-inner">
<h2>Our <strong>Vision</strong></h2>
<p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
</div>
</div>
</div>
</div>
</div>
    

    
      
    

    
      
    

  </section>


  </section>


  </div>


          
          </div>
        </div>
      </section>


<!-- <div id="works">
  <div class="container"> 
    <div class="section-title ">
      <h2>Our Services</h2>
      <hr>
      <div class="clearfix"></div>
      <p>If You Help Enough Other People Get What They Want in LIFE, You can Have Everything You Want in LIFE!</p>
      <p>
        A unique business venture promoted by a group of dedicated and successful professionals engaged in Traditional Business, Legal Advisory, Corporate Consultancy, IT Consultancy, Network marketing administration, Business and Personality Development Trainers. Company’s main focus is to offer every Indian citizen who have aspiration and willingness to invest genuine efforts to achieve what they aspire and deserve, through a genuine and fantastic opportunity in a multilevel marketing business.
      </p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          We firmly believes in forming meaningful, mutually rewarding and long lasting family & business associations, which are built on honesty, trust and thorough professionalism with proper trainings and motivation by top most personalities in the field.
        </li>
        <li>
          Mission and Purpose is to reach out and help people to increase their economic status.
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

  </div> -->